.stories {
    position: absolute;
    top: 170px;
    margin-left: 220px;
    float: 100px;
    height: auto;
    max-width: -200%;
    background-position: center;

}

.resize3 {
    width: 1300px;
    height: auto;
}

.resize3 {
    width: 900px;
    height: auto;
}

.success {
    text-align: center;
    color: blanchedalmond;
    position: absolute;
    top: 0 px;
    margin-left: 400px;
    
    
    
}